@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes galleryFade {
  from {
    opacity: 0;
    transform: scale(1.02);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-gallery-fade {
  animation: galleryFade 0.8s ease-in-out;
}

html {
  scroll-behavior: smooth;
  background-color: #0B0C0E;
  color: #F9F8F3;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0B0C0E;
}
::-webkit-scrollbar-thumb {
  background: #D4AF37;
  border-radius: 3px;
}
